{% capture html %}
<div style="text-align: center; background-color: white;">
    {% if include.context == "/" %}
        <span class="{% if page.url == "/" %}active{% endif %}">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </span><br>
    {% endif %}

    {% assign entries = site.pages | sort: "path" %}
    {% for entry in entries %}

        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

        {% if current == include.context and current != "/contact/" %}
            <span class="{% if page.url contains entry.url %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                {% include navigation.html context=entry.url %}
            </span>
        {% endif %}

    {% endfor %}
    <span class="{% if page.url contains "/contact/" %}active{% endif %}">
        <a href="{{ site.baseurl }}/contact/">Contact Me</a>
        {% include navigation.html context=entry.url %}
    </span>
</div>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}