---
---

@import "{{ site.theme }}";

span.active {
    font-weight: bold;
}

footer {
    bottom: 0px;
}

footer p {
    margin-bottom: 0px;
}

body {
    padding: 5px;
}

header img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}